<%-include("includes/head.ejs") %>
<body>
  <h1>this is the  Home page</h1>
  <h3><%= 1+2 %></h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, magni earum velit in nisi eaque quos ut. Alias, provident. Odit!</p>
  <button>click me</button>
  
</body>
</html>